
body {
    background-image: url("../image/p4.jpg");
	background-repeat: no-repeat;
    background-size: 1800px 1000px;
}
  

.txt1 {
	height: 350px;
	width: 500px;
	padding-top: 100px;
	padding-left: 100px;
	border: 1px solid #ccc;
}

.txt2 {
	height: 50px;
	width: 500px;
	border: 1px solid #ccc;
}
h1 {
    color: navy;
    margin-left: 20px;
}

input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    
}

input[type=button] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
	
    
}

.nav{

         width:100%;
         background:#000033;
         height:100px;
         margin-top:20px;
         

    }

    
     ul{
        list-style:none;
        position:absolute;
        padding:0;
        margin:0;

   }

  li{
       float:left;
       margin-top:30px;

  }

  a{   
    width:120px;
    color:white;
    display:block;
    font-size:20px;
    text-align:center;
    padding:10px;
    font-weight:bold;
    font-family:Century Gothic;
    border-radius:10px;
   
         

  }

  pre{
        font-size:19px;
        font-weight:220;
        position:absolute;
        top:180px;
        right:120px;
        font-family:bold;
        font-style:normal;
        color:black;

   } 
   
    .container{
	
	     position:absolute;
		 top:250;
		 right:120;
	      color:red;
	
	}
   


