

	 
	 td{
		 color:rgb(134,134,0);
	 }
	 h2{
	 color:rgb(134,134,0);
	 }
	 p{
	 color:rgb(134,134,0);
	 }
	
	
body{
	background-image: url("image/pic5.jpg");
	background-repeat: no-repeat;
    background-size: 1600px 800px;
	
	 
	}